---
import Card from "@components/card.astro";
import Day from "@components/day.astro";

import webdev from "@data/quicklinks/webdev.json";
import personal from "@data/quicklinks/personal.json";
import school from "@data/quicklinks/school.json";

import csci353 from "@data/classes/csci353.json";
import ee354 from "@data/classes/ee354.json";
import ssci214 from "@data/classes/ssci214.json";
import itp342 from "@data/classes/itp342.json";
import engr100 from "@data/classes/engr100.json";
import phed126 from "@data/classes/phed126.json";
import csci103 from "@data/classes/csci103.json";

const quicklinks = [
  ["Web Dev", webdev],
  ["Personal", personal],
  ["School", school],
];

const mon = [
  [csci103, "office hours"],
  [ee354, "lecture"],
  [csci353, "lecture"],
  [phed126, "lecture"],
  [itp342, "lecture"],
];
const tues = [
  [ssci214, "lecture"],
  [ssci214, "discussion"],
  [ee354, "lab"],
];
const wed = [
  [csci103, "office hours"],
  [ee354, "lecture"],
  [csci353, "lecture"],
  [itp342, "lecture"],
];
const thurs = [
  [ssci214, "lecture"],
  [csci103, "office hours"],
];
const fri = [
  [csci103, "lab"],
  [csci353, "discussion"],
  [engr100, "lecture"],
];
---

<div class="content">
  <div class="left">
    <Card title="Quick Links" sections={quicklinks} />
  </div>
  <div class="right">
    <div class="mon day">
      <Day title="Monday" classes={mon} />
    </div>
    <div class="tues day">
      <Day title="Tuesday" classes={tues} />
    </div>
    <div class="wed day">
      <Day title="Wednesday" classes={wed} />
    </div>
    <div class="thurs day">
      <Day title="Thursday" classes={thurs} />
    </div>
    <div class="fri day">
      <Day title="Friday" classes={fri} />
    </div>
  </div>
</div>

<style lang="scss">
  .content {
    display: flex;
    flex-flow: row wrap;
    gap: 32px;
  }

  .day {
    display: none;
  }

  .left,
  .right {
    flex: 1;
    min-width: 270px;

    display: flex;
    flex-direction: column;
    gap: 32px;
  }
</style>

<script>
  const days = ["mon", "tues", "wed", "thurs", "fri"];

  const show = (classname) => {
    const elements = document.getElementsByClassName(classname);
    Array.from(elements).forEach((day) => (day.style.display = "block"));
  };

  const showAll = () => days.forEach((day) => show(day));

  const setDisplay = (day) => show(days[day - 1]);

  let currDate = new Date();
  setDisplay(currDate.getDay());

  let shown = false;

  const showButton = document.getElementById("show-all");
  showButton.addEventListener("click", () => {
    if (shown) {
      const allDays = document.getElementsByClassName("day");
      Array.from(allDays).forEach((day) => (day.style.display = "none"));
      setDisplay(currDate.getDay());
      showButton.innerText = "Show all";
    } else {
      showAll();
      showButton.innerText = "Show today";
    }
    shown = !shown;
  });
</script>
