---
import Card from "@components/card.astro";
import Day from "@components/day.astro";

import webdev from "@data/quicklinks/webdev.json";
import personal from "@data/quicklinks/personal.json";
import school from "@data/quicklinks/school.json";

// import ee250 from "@data/classes/ee250.json";

import ee457 from "@data/classes/ee457.json";
import ee508 from "@data/classes/ee508.json";
import math407 from "@data/classes/math407.json";
import amst150 from "@data/classes/amst150.json";

const quicklinks = [
  ["Web Dev", webdev],
  ["Personal", personal],
  ["School", school],
];

const mon = [
  [math407, "lecture"],
  [amst150, "lecture"]
];
const tues = [
  [math407, "discussion"],
  [ee457, "lecture"]
];
const wed = [
  [math407, "lecture"],
  [amst150, "lecture"]
];
const thurs = [
  [math407, "discussion"],
  [ee457, "lecture"]
];
const fri = [
  [math407, "lecture"],
  [ee457, "lab"],
  [amst150, "discussion"]
];
const sat = [
  [ee508, "lecture"]
]
---

<div class="content">
  <div class="left">
    <Card title="Quick Links" sections={quicklinks} />
  </div>
  <div class="right">
    <div class="mon day">
      <Day title="Monday" classes={mon} />
    </div>
    <div class="tues day">
      <Day title="Tuesday" classes={tues} />
    </div>
    <div class="wed day">
      <Day title="Wednesday" classes={wed} />
    </div>
    <div class="thurs day">
      <Day title="Thursday" classes={thurs} />
    </div>
    <div class="fri day">
      <Day title="Friday" classes={fri} />
    </div>
    <div class="sat day">
      <Day title="Saturday" classes={sat} />
    </div>
  </div>
</div>

<style lang="scss">
  .content {
    display: flex;
    flex-flow: row wrap;
    gap: 32px;
  }

  .day {
    display: none;
  }

  .left,
  .right {
    flex: 1;
    min-width: 270px;

    display: flex;
    flex-direction: column;
    gap: 32px;
  }
</style>

<script>
  const days = ["mon", "tues", "wed", "thurs", "fri", "sat"];

  const show = (classname) => {
    const elements = document.getElementsByClassName(classname);
    Array.from(elements).forEach((day) => (day.style.display = "block"));
  };

  const showAll = () => days.forEach((day) => show(day));

  const setDisplay = (day) => show(days[day - 1]);

  let currDate = new Date();
  setDisplay(currDate.getDay());

  let shown = false;

  const showButton = document.getElementById("show-all");
  showButton.addEventListener("click", () => {
    if (shown) {
      const allDays = document.getElementsByClassName("day");
      Array.from(allDays).forEach((day) => (day.style.display = "none"));
      setDisplay(currDate.getDay());
      showButton.innerText = "Show all";
    } else {
      showAll();
      showButton.innerText = "Show today";
    }
    shown = !shown;
  });
</script>
