---
import Card from "@components/card.astro";
import Day from "@components/day.astro";

import webdev from "@data/quicklinks/webdev.json";
import personal from "@data/quicklinks/personal.json";
import school from "@data/quicklinks/school.json";

import ce513 from "@data/classes/ce513.json";
import ee597 from "@data/classes/ee597.json";
import tac435 from "@data/classes/tac435.json";
import csci401 from "@data/classes/csci401.json";
import csci102 from "@data/classes/csci102.json";

const quicklinks = [
  ["Web Dev", webdev],
  ["Personal", personal],
  ["School", school],
];

const mon = [
  [csci401, "lecture"],
  [ee597, "lecture"],
  [tac435, "lecture"],
  [ce513, "lecture"]
];
const tues = [];
const wed = [
  [csci401, "lecture"],
  [ee597, "lecture"],
  [tac435, "lecture"],
  [ce513, "lecture"]
];
const thurs = [];
const fri = [];
---

<div class="content">
  <div class="left">
    <Card title="Quick Links" sections={quicklinks} />
  </div>
  <div class="right">
    <div class="mon day">
      <Day title="Monday" classes={mon} />
    </div>
    <div class="tues day">
      <Day title="Tuesday" classes={tues} />
    </div>
    <div class="wed day">
      <Day title="Wednesday" classes={wed} />
    </div>
    <div class="thurs day">
      <Day title="Thursday" classes={thurs} />
    </div>
    <div class="fri day">
      <Day title="Friday" classes={fri} />
    </div>
  </div>
</div>

<style lang="scss">
  .content {
    display: flex;
    flex-flow: row wrap;
    gap: 32px;
  }

  .day {
    display: none;
  }

  .left,
  .right {
    flex: 1;
    min-width: 270px;

    display: flex;
    flex-direction: column;
    gap: 32px;
  }
</style>

<script>
  const days = ["mon", "tues", "wed", "thurs", "fri", "sat"];

  const show = (classname) => {
    const elements = document.getElementsByClassName(classname);
    Array.from(elements).forEach((day) => (day.style.display = "block"));
  };

  const showAll = () => days.forEach((day) => show(day));

  const setDisplay = (day) => show(days[day - 1]);

  let currDate = new Date();
  setDisplay(currDate.getDay());

  let shown = false;

  const showButton = document.getElementById("show-all");
  showButton.addEventListener("click", () => {
    if (shown) {
      const allDays = document.getElementsByClassName("day");
      Array.from(allDays).forEach((day) => (day.style.display = "none"));
      setDisplay(currDate.getDay());
      showButton.innerText = "Show all";
    } else {
      showAll();
      showButton.innerText = "Show today";
    }
    shown = !shown;
  });
</script>
