---
import { Icon } from 'astro-icon';

let date = new Date();

const myName = "Anna";
const setItems = (time) => {
  let m, i;
  if (time >= 0 && time < 6) {
    m = "Sleep, girl!";
    i = "bed-outline";
  } else if (time >= 6 && time < 9) {
    m = "Too early to be awake";
    i = "alarm-outline";
  } else if (time >= 9 && time < 12) {
    m = `Good morning, ${myName}!`;
    i = "sunny-outline";
  } else if (time >= 12 && time < 18) {
    m = `Good afternoon, ${myName}!`;
    i = "partly-sunny-outline";
  } else if (time >= 18 && time < 21) {
    m = `Good evening, ${myName}!`;
    i = "cloudy-night-outline";
  } else {
    m = `Good night, ${myName}!`;
    i = "moon-outline";
  }
  return [m, `ion:${i}`];
};

let [message, icon] = setItems(date.getHours());
---


<div class="header">
  <div class="heading"><h1>{message}</h1><Icon size={36} name={icon} alt="icon signaling time of day" /></div>
  <h3 id="time" onload="showTime()" />
</div>

<style lang="scss">
  .header {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .heading {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  [astro-icon] {
    color: var(--light);
  }
</style>

<script>
  const showTime = () => {
    let date = new Date();
    let time = date.toLocaleTimeString();
    const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
    const today = date.toLocaleDateString('en-US', options);
    const datetime = `The time is currently ${time} on ${today}.`
    document.getElementById("time").innerText = datetime;
    document.getElementById("time").textContent = datetime;

    setTimeout(showTime, 1000);
  };

  showTime();
</script>
